<form [formGroup]="orderForm">
    <p>
        <mat-error *ngIf="controls?.cart?.invalid">
            Nincs kosár
        </mat-error>
    </p>
    <p>
        <mat-error *ngIf="controls?.userEmail?.errors?.required">
            Nem vagy belépve
        </mat-error>
    </p>
    <p>
      <mat-error *ngIf="controls?.userEmail?.errors?.isUserEmailInUserCollection as isUserEmailInUserCollection">
        {{isUserEmailInUserCollection?.message || isUserEmailInUserCollection}}
      </mat-error>
    </p>
    <p>
        <custom-mat-form-field formControlName="name" label="Név" [auto-completer]="nameAutoCompleterProps"></custom-mat-form-field>
    </p>
    <p>
        <custom-mat-form-field formControlName="address" type="textarea" label="Cím" [auto-completer]="addressAutoCompleterProps"></custom-mat-form-field>
    </p>
    <p>
        <custom-mat-form-field formControlName="city" label="Város"></custom-mat-form-field>
    </p>
    
    <p>
      <span (click)="markAllInputsAsTouched()">
          <button type="button" mat-button matStepperNext>
            Következő
          </button>
      </span>
    </p>
</form>