:host {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    a {
        text-decoration: none;
        font-size: 20px;
        color: black;
        padding: 3px;
    }

    .active {
        background: #3F51B5 !important;
        color: white !important;
    }
}