<form [formGroup]="paymentAndDeliveryForm">
    <div>
      <div class="formControls">
        <mat-label>Fizetési mód</mat-label>
        <mat-radio-group
          formControlName="paymentMethod">
          <mat-radio-button *ngFor="let paymentMethodItem of paymentMethods" [value]="paymentMethodItem.value">
              {{paymentMethodItem.displayValue}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-error *ngFor="let error of objValues(controls.paymentMethod.errors)">
        {{error}}
      </mat-error>
    </div>
    <div>
      <div class="formControls">
        <mat-label>Kiszállítási mód</mat-label>
        <mat-radio-group
          formControlName="deliveryMethod">
          <mat-radio-button *ngFor="let deliveryMethodItem of deliveryMethods" [value]="deliveryMethodItem.value">
              {{deliveryMethodItem.displayValue}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-error *ngFor="let error of objValues(controls.deliveryMethod.errors)">
        {{error}}
      </mat-error>
    </div>
        
    <span (click)="markAllInputsAsTouched()">
        <button type="button" mat-button matStepperPrevious>Vissza</button>
        <button type="button" mat-button matStepperNext>Következő</button>
    </span>
</form>