:host {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 600px;
    
    p {
        display: flex;
        align-items: center;

        span:first-child {
            min-width: 110px;
            max-width: 110px;
            margin-right: 30px;
            font-weight: bold;
        }
    }
}