<p>
    <span>Név:</span>
    <span>
        {{order.name}}
    </span>
</p>
<p>
    <span>
        Cím:
    </span>
    <span>
        {{order.address}}
    </span>
</p>
<p>
    <span>Város:</span>
    <span>
        {{order.city}}
    </span>
</p>
<p>
    <span>Kiszállítási mód:</span>
    <span>
        {{deliveryMethodDisplayValue}}
    </span>
</p>
<p>
    <span>Fizetési mód:</span>
    <span>
        {{paymentMethodDisplayValue}}
    </span>
</p>
<p>
    <span>Dátum:</span>
    <span>
        {{order.dateCreated | date:'short':'+0100':'hu'}}
    </span>
</p>