:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    width: 100%;
    padding-top: 80px;

    .categories {
        flex-basis: 15%;
        box-sizing: border-box;

        padding-top: 20px;
        padding-left: 20px;
    }
    .products {
        display: flex;
        flex-basis: 85%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
    }
}