<form #loginForm="ngForm" (submit)="login(loginForm.value)">
    <p>
        <mat-error *ngIf="loginForm.errors?.invalidCredentials">{{loginForm.errors?.invalidCredentials}}</mat-error>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" name="email" #email="ngModel" ngModel required email>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.errors?.required">Meg kell adni az email-t</mat-error>
          <mat-error *ngIf="email.errors?.email">Nem megfelelő email</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Jelszó</mat-label>
          <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
          <input [type]="toggle.type" matInput placeholder="password" name="password" 
                #password="ngModel" ngModel required minlength="8" pattern=".*\d.*">
          <mat-password-strength 
            #passwordComponent 
            [password]="password.value"
            [enableLowerCaseLetterRule]="false"
            [enableUpperCaseLetterRule]="false"
            [enableDigitRule]="true"
            [enableLengthRule]="true"
            [enableSpecialCharRule]="false">
          </mat-password-strength>
          <mat-password-strength-info
            *ngIf="(password.errors?.minlength || password.errors?.required || password.errors?.pattern)
             && (password.dirty || password.touched)"
            class="with-icon-padding" 
            [minCharsCriteriaMsg]="'Legalább 8 karakter'"
            [digitsCriteriaMsg]="'Legalább 1 szám'"
            [passwordComponent]="passwordComponent">
          </mat-password-strength-info>
        </mat-form-field>
    </p>
    <p (click)="markAllInputsAsTouched()">
        <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit">
            Belépés
        </button>
    </p>
    <p>
        <a routerLink="/signup">Regisztráció!</a>
    </p>
</form>
