<form [formGroup]="orderForm">
    <p>
        <mat-error *ngIf="controls?.cart?.invalid">
            Nincs kosár
        </mat-error>
    </p>
    <p>
        <mat-error *ngIf="controls?.userEmail?.errors?.required">
            Nem vagy belépve
        </mat-error>
    </p>
    <p>
      <mat-error *ngIf="controls?.userEmail?.errors?.isUserEmailInUserCollection as isUserEmailInUserCollection">
        {{isUserEmailInUserCollection?.message || isUserEmailInUserCollection}}
      </mat-error>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Név</mat-label>
          <input
            matInput
            formControlName="name"
            [matAutocomplete]="nameAuto">
          <mat-autocomplete #nameAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredCustomerNames | async" [value]="option.name">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="controls?.name?.errors?.required">
            Meg kell adni
          </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Cím</mat-label>
          <textarea
            matInput
            formControlName="address"
            [matAutocomplete]="addressAuto">
          </textarea>
          <mat-autocomplete #addressAuto="matAutocomplete"
          (optionSelected)="deliveryAddressSelected($event)" [displayWith]="displayDeliveryAddressValue">
            <mat-option *ngFor="let option of filteredDeliveryAddresses | async" [value]="option">
              {{option.city}} - {{option.address}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="controls?.address?.errors?.required">
            Meg kell adni
          </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Város</mat-label>
          <input matInput formControlName="city">
          <mat-error *ngIf="controls?.city?.errors?.required">
            Meg kell adni
          </mat-error>
        </mat-form-field>
    </p>
    
    <p>
      <span (click)="markAllInputsAsTouched()">
          <button type="button" mat-button matStepperNext>
            Következő
          </button>
      </span>
    </p>
</form>