<form (submit)="signUp()" [formGroup]="signUpForm">
    <p>
        <custom-mat-form-field formControlName="username" label="Felhasználónév" placeholder="username" icon-suffix="account_circle"></custom-mat-form-field>
    </p>
    <p>
        <custom-mat-form-field formControlName="email" label="Email" placeholder="email" icon-suffix="email"></custom-mat-form-field>
    </p>
    <p>
        <custom-mat-form-field type="password" [password-strength]="true" formControlName="password" label="Jelszó" placeholder="password"></custom-mat-form-field>
    </p>
    <p>
        <custom-mat-form-field type="password" formControlName="confirmPassword" label="Jelszó megerősítés" placeholder="Confirm password" (keydown)="markConfirmPasswordAsTouched()"></custom-mat-form-field>
    </p>
    <p (click)="markAllInputsAsTouched()">
        <button [disabled]="signUpForm.invalid" mat-raised-button color="primary" type="submit">
            Regisztrálok!
        </button>
    </p>
</form>
