<a mat-raised-button color="primary" routerLink="/admin/products/product-details/new">Új termék</a>
<mat-form-field>
  <mat-label>Szűrő</mat-label>
  <input matInput [(ngModel)]="filterValuesService.productsFilter" (keyup)="applyFilter()" placeholder="Ex. Mia">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="!noData; else noProductsData">

    <!-- title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Termék </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- price -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ár </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency:'HUF':'symbol':'0.0-0':'hu'}} </td>
    </ng-container>
  
    <!-- _id -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
         <a [routerLink]="['product-details/', element._id]">Szerkesztés</a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow>
      <td colspan="4">Nem található "{{filterValuesService.productsFilter}}" a termékben vagy árban</td>
   </tr>
  </table>
  <ng-template #noProductsData>
    <p>
      Nincsenek termékek
    </p>
  </ng-template>