<a mat-raised-button color="primary" routerLink="/admin/products/new">Új termék</a>
<mat-form-field>
  <mat-label>Szűrő</mat-label>
  <input #filter matInput (keyup)="applyFilter(filter.value)" placeholder="Ex. Mia">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Termék </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- price -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ár </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency:'HUF':'symbol':'0.0-0':'hu'}} </td>
    </ng-container>
  
    <!-- _id -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
         <a [routerLink]="['/admin/products/', element._id]">Szerkesztés</a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>