<div class="shopping-cart">
  <h1>Bevásárló kosár</h1>
  <p>
      {{cartService.currentCart.itemCount || 0}} db tétel van a kosárban. 
      <button *ngIf="cartService.currentCart.itemCount"
        mat-raised-button 
        color="warn"
        (click)="clearCart()">
          Kosár ürítése
      </button>
  </p>
  <display-cart [shopping-cart]="cartService.currentCart" [is-product-quantity-dynamic]="true"></display-cart>
  <button [routerLink]="['/check-out']" mat-raised-button color="primary" *ngIf="cartService.currentCartId">
    Megrendelem
  </button>
</div>