<form #newProductForm="ngForm" (submit)="addNewProduct()" 
  [rxwebForm]="newProductForm" [model]="productModel">
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="title" name="title" [(ngModel)]="productModel.title" required>
          <mat-error *ngIf="controls?.title?.errors?.required">
            Meg kell adni
          </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <span matTextPrefix>$&nbsp;</span>
          <input type="number" matInput placeholder="price" name="price" 
          [(ngModel)]="productModel.price" required [rxminNumber]='{"value": 0}'>
          <mat-error *ngIf="controls?.price?.errors?.required">
            Meg kell adni
          </mat-error>
          <mat-error *ngIf="controls?.price?.errors?.minNumber">
            {{controls?.price?.errors?.minNumber?.message}}
          </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select [(ngModel)]="productModel.category" required name="category">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let c of categories$ | async" [value]="c.name">{{c.displayName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="controls?.category?.errors?.required">
            Meg kell adni
          </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Image URL</mat-label>
          <input matInput placeholder="image url" name="imageURL" [(ngModel)]="productModel.imageURL"
           required [rxurl]="{}">
          <mat-error *ngIf="controls?.imageURL?.errors?.required">
            Meg kell adni
          </mat-error>
          <mat-error *ngIf="controls?.imageURL?.errors?.url">
            {{controls?.imageURL?.errors?.url?.message}}
          </mat-error>
        </mat-form-field>
    </p>
    <p (click)="markAllInputsAsTouched()">
        <button [disabled]="newProductForm.invalid" mat-raised-button color="primary" type="submit">
            Add
        </button>
    </p>
</form>
