:host {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 80px;

    form {
        width: 400px;

        p {
            width: 100%;

            mat-form-field {
                width: 100%;
            }

            &:last-child {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        }
    }
}
