:host {
    display: flex;
    width: 100%;

    button.small {
        min-width: unset;
        height: 25px;
        width: 25px;
        padding: 0;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;

        &.small {
            width: unset;
            padding: 0 20px;
        }
    }
}