<mat-toolbar color="primary">
    <a mat-icon-button routerLink="/"><mat-icon class="big">home</mat-icon></a>
    <ng-template #login>
        <a mat-button routerLink="login">Belépés</a>
    </ng-template>
    <ng-container *ngIf="authService.currentUser; else login">
        <a mat-button [matMenuTriggerFor]="menu">
            <span class="menu">
                {{authService.currentUser.user.username}}
                <mat-icon>arrow_drop_down</mat-icon>
            </span>
        </a>
        <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="my/orders">Megrendeléseim</a>
            <a mat-menu-item routerLink="my/account">Fiókom</a>
            <div style="background-color:#ff4081" *ngIf="authService.currentUser.user.admin">
                <a mat-menu-item routerLink="admin/orders">Összes megrendelés</a>
                <a mat-menu-item routerLink="admin/products">Összes termék</a>
            </div>
            <a mat-menu-item (click)="authService.logout()">Kilépés</a>
        </mat-menu>
    </ng-container>
    <div>
        <a mat-button routerLink="shopping-cart" 
            [matBadge]="cartService.currentCart.itemCount" 
            matBadgeColor="accent" 
            [matBadgeHidden]="!cartService.currentCart.itemCount">
            <mat-icon class="big">shopping_cart</mat-icon>
        </a>
    </div>
</mat-toolbar>
