<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/"><mat-icon class="home">home</mat-icon></button>
    <button mat-button routerLink="shopping-cart" 
        [matBadge]="cartService.currentCart.itemCount" 
        matBadgeColor="accent" 
        [matBadgeHidden]="!cartService.currentCart.itemCount">
        Bevásárló kosár
    </button>
    <ng-template #login>
        <button mat-button routerLink="login">Belépés</button>
    </ng-template>
    <ng-container *ngIf="authService.currentUser; else login">
        <button mat-button [matMenuTriggerFor]="menu">
            <span class="menu">
                {{authService.currentUser.user.username}}
                <mat-icon>arrow_drop_down</mat-icon>
            </span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="my/orders">Megrendeléseim</button>
            <ng-container *ngIf="authService.currentUser.user.admin">
                <button mat-menu-item routerLink="admin/orders">Összes megrendelés</button>
                <button mat-menu-item routerLink="admin/products">Összes termék</button>
            </ng-container>
            <button mat-menu-item (click)="authService.logout()">Kilépés</button>
        </mat-menu>
    </ng-container>
</mat-toolbar>
