.shopping-cart {
    padding: 80px 20px 20px 20px;

    button[color=warn] {
        min-width: unset;
        height: 20px;
        width: 105px;
        padding: 0;
    }

    button[color=primary] {
        margin-top: 20px;
    }
}