<p>
    <span>Név:</span>
    <span>
        {{order?.name}}
    </span>
</p>
<p>
    <span>
        Cím:
    </span>
    <span>
        {{order?.address}}
    </span>
</p>
<p>
    <span>Város:</span>
    <span>
        {{order?.city}}
    </span>
</p>
<p>
    <span>Kiszállítási mód:</span>
    <span>
        {{order?.deliveryMethodDisplayName}}
    </span>
</p>
<p>
    <span>Fizetési mód:</span>
    <span>
        {{order?.paymentMethodDisplayName}}
    </span>
</p>
<p>
    <span>Rendelés státusza:</span>
    <span *ngIf="isRouteAdmin.check(); else noAdmin">
        <mat-form-field appearance="fill">
            <mat-label>Rendelés státusza</mat-label>
            <mat-select [(ngModel)]="selectedStatus" (ngModelChange)="selectedStatusChanged()">
              <mat-option disabled value=""></mat-option>
              <mat-option *ngFor="let status of orderStatusList" [value]="status.value">
                {{status.displayValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </span>
    <ng-template #noAdmin>
        <span>
            {{order?.orderStatusDisplayName}}
        </span>
    </ng-template>
</p>
<p>
    <span>Dátum:</span>
    <span>
        {{order?.dateCreated | date:'short':'+0100':'hu'}}
    </span>
</p>