$card-size: 400px;
:host {
    width: $card-size;
    text-align: center;

    img {
        max-height: $card-size;
        max-width: $card-size;
        object-fit: contain;
    }

    button {
        width: 100%;
    }

    mat-card-content {
        p {
            margin: 10px 0;
        }
    }
}