<mat-card *ngIf="product.title">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="product.imageURL" *ngIf="product.imageURL">
    <mat-card-content>
      <p>
        {{product.price | currency:'HUF'}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="showActions">
        <button mat-raised-button color="primary" 
        (click)="addToCart()" 
        *ngIf="!cartService.currentCart.getProductQuantity(product); else updateQuantity">
          Add to Cart
        </button>
        <ng-template #updateQuantity>
          <product-quantity [product]="product"></product-quantity>
        </ng-template>
    </mat-card-actions>
</mat-card>