<mat-card *ngIf="product.title">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{product.imageURL}} *ngIf="product.imageURL">
    <mat-card-content>
      <p>
        {{product.price | currency:'HUF'}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="showActions">
        <button mat-raised-button color="primary" 
        (click)="addToCart()" *ngIf="getQuantity() === 0; else updateQuantity">
          Add to Cart
        </button>
        <ng-template #updateQuantity>
          <div class="actionButtons">
            <button mat-raised-button color="accent" (click)="removeFromCart()">-</button>
            <p>{{getQuantity()}} in cart</p>
            <button mat-raised-button color="accent" (click)="addToCart()">+</button>
          </div>
        </ng-template>
    </mat-card-actions>
</mat-card>