<form (submit)="save()" [formGroup]="newProductForm">
    <p>
        <mat-error *ngFor="let error of errorsToArray(newProductForm.controls._id?.errors)">
            {{error}}
        </mat-error>
    </p>
    <p>
        <custom-mat-form-field formControlName="title" label="Termék" placeholder="title"></custom-mat-form-field>
    </p>
    <p>
        <custom-mat-form-field formControlName="price" label="Ár" placeholder="price" suffix="Ft" type="number"></custom-mat-form-field>
    </p>
    <p>
        <custom-mat-form-field formControlName="category" label="Kategória" [select]="selectProps"></custom-mat-form-field>
    </p>
    <p>
        <custom-mat-form-field formControlName="imageURL" label="Kép URL" placeholder="image url"></custom-mat-form-field>
    </p>
    <p (click)="markAllInputsAsTouched()">
        <button [disabled]="newProductForm.invalid" mat-raised-button color="primary" type="submit">
            Mentés
        </button>
        <button *ngIf="id" type="button" mat-raised-button color="warn" (click)="delete()">
            Törlés
        </button>
    </p>
</form>
<product-card [product]="productModel" [show-actions]="false"></product-card>
