<form (submit)="save()" [formGroup]="newProductForm">
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Termék</mat-label>
          <input matInput placeholder="title" formControlName="title">
          <mat-error *ngFor="let error of objValues(controls.title.errors)">
            {{error}}
          </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Ár</mat-label>
          <input type="number" matInput placeholder="price" formControlName="price">
          <span matTextSuffix>Ft</span>
          <mat-error *ngFor="let error of objValues(controls.price.errors)">
            {{error}}
          </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Kategória</mat-label>
          <mat-select formControlName="category">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let c of categories$ | async" [value]="c.name">{{c.displayName}}</mat-option>
          </mat-select>
          <mat-error *ngFor="let error of objValues(controls.category.errors)">
            {{error}}
          </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Kép URL</mat-label>
          <input matInput placeholder="image url" formControlName="imageURL">
          <mat-error *ngFor="let error of objValues(controls.imageURL.errors)">
            {{error}}
          </mat-error>
        </mat-form-field>
    </p>
    <p (click)="markAllInputsAsTouched()">
        <button [disabled]="newProductForm.invalid" mat-raised-button color="primary" type="submit">
            Mentés
        </button>
        <button *ngIf="id" type="button" mat-raised-button color="warn" (click)="delete()">
            Törlés
        </button>
    </p>
</form>
<product-card [product]="productModel" [show-actions]="false"></product-card>
