<form (submit)="submit()" [formGroup]="userAccountForm">
    <p>
        <mat-error *ngIf="controls?.userEmail?.invalid">
            Nem vagy belépve
        </mat-error>
    </p>
    <mat-card>
        <mat-error *ngFor="let error of errorsToArray(controls.customerNames.errors)">
            {{error}}
        </mat-error>
        <mat-card-content [formGroup]="customerName" *ngFor="let customerName of customerNames; let i=index">
            <div>
                <custom-mat-form-field formControlName="name" label="Számlázási név" icon-suffix="account_circle"></custom-mat-form-field>
                <mat-error *ngFor="let error of errorsToArray(customerName.errors)">
                    {{error}}
                </mat-error>
            </div>
            <button mat-mini-fab color="accent" type="button" (click)="removeCustomerName(i)">
                <mat-icon>remove</mat-icon>
            </button>
        </mat-card-content>
        <mat-card-actions>
            <button mat-mini-fab color="accent" type="button" (click)="addCustomerName()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-error *ngFor="let error of errorsToArray(controls.deliveryAddresses.errors)">
            {{error}}
        </mat-error>
        <mat-card-content [formGroup]="deliveryAddress" *ngFor="let deliveryAddress of deliveryAddresses; let i=index">
            <div>
                <custom-mat-form-field formControlName="address" type="textarea" label="Szállítási cím" icon-suffix="location_on"></custom-mat-form-field>
                <custom-mat-form-field formControlName="city" label="Város" icon-suffix="location_city"></custom-mat-form-field>
                <mat-error *ngFor="let error of errorsToArray(deliveryAddress.errors)">
                    {{error}}
                </mat-error>
            </div>
            <button mat-mini-fab color="accent" type="button" (click)="removeDeliveryAddress(i)">
                <mat-icon>remove</mat-icon>
            </button>
        </mat-card-content>
        <mat-card-actions>
            <button mat-mini-fab color="accent" type="button" (click)="addDeliveryAddress()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <p>
        <span (click)="markAllInputsAsTouched()">
            <button [disabled]="isFormInvalid"
             mat-raised-button color="primary" type="submit">
                hozzáad
            </button>
        </span>
    </p>
</form>