form {
    mat-card {
        min-width: 350px;
        max-width: 600px;
        margin-bottom: 20px;

        mat-card-content {
            display: flex;
            align-items: center;
            gap: 20px;
            
            div {
                width: 100%;

                & > mat-error {
                    margin-top: -20px;
                }
            }
        }
    }
}