.checkOut {
    padding: 80px 20px 20px 20px;

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        
        order-form {
            flex-basis: calc(50% - 10px);
            
            
        }
        order-summary {
            flex-basis: calc(50% - 10px);
        }
    }
}